.title {
  padding: var(--spacing-m) 0;
  text-align: center;
  font-family: var(--font-bold);
  font-weight: normal;
  font-size: var(--font-size-2xl);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
  max-width: 70rem;
  margin: 0 auto;
}
