.navigation {
  // background-color: var(--color-neutral-1);
  // background-color: #252932;
  // border-top: 0.05rem solid var(--color-neutral-4);
  // background-color: #252932;

  ul {
    // display: flex;
    list-style-type: none;
  }

  a {
    padding: var(--spacing-s);
    letter-spacing: 0.05rem;
    // font-size: var(--font-size-2xs);
    font-size: 1.5rem;
    color: var(--color-neutral-4);

    &:hover {
      background-color: var(--color-neutral-2);
    }

    &:focus-visible {
      outline: 0.25rem solid red;
      outline-offset: -0.25rem;
    }
  }
}
