:root {
  background-color: var(--color-neutral-8);
  font-family: var(--font-text);
  line-height: 1;
  font-size: var(--font-size-s);
  color: var(--color-neutral-8);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

#_pins_1mm2_3 {
  display: grid;
  grid-template:
    "header main" minmax(auto, 1fr)
    "header footer" minmax(0, auto) / 6rem minmax(0, 1fr);
  width: 100%;
  min-height: 100vh;
}
