@mixin fonts {
  --font-bold: "Bold", Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-regular: "Regular", Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-icon: "Icons", sans-serif;
}

@mixin font-sizes {
  --font-size-2xl: 3.5rem; /* 56px */
  --font-size-l: 3rem; /* 48px */
  --font-size-m: 2rem; /* 32px */
  --font-size-s: 1rem; /* 16px */
  --font-size-2xs: 0.75rem; /* 12px */
}

@mixin colors {
  --color-neutral-1: #fefefe;
  --color-neutral-2: #fcfbfe;
  --color-neutral-3: #f0f0f2;
  --color-neutral-4: #d2d2d5;
  --color-neutral-5: #1d1d1f;
  --color-primary: #7e40e6;
}

@mixin spacings {
  --spacing-l: 4rem; /* 64px */
  --spacing-m: 2rem; /* 32px */
  --spacing-s: 1rem; /* 16px */
}

@mixin radius {
  --radius-l: 1.875rem;
}

@mixin shadows {
  --shadow-m: 0.125rem 0.25rem 0.75rem rgba(0 0 0 / 0.08);
}

:root {
  @include fonts();
  @include font-sizes();
  @include colors();
  @include spacings();
  @include radius();
  @include shadows();
}
