.card {
  overflow: hidden;
  position: relative;
  display: flex;
  padding: var(--spacing-m);
  background-color: var(--color-neutral-6);
  border-radius: var(--radius-l);
  font-size: var(--font-size-s);
  color: var(--color-neutral-3);
}
