.business {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  animation: Appear 0.7s var(--ease-quad);
  will-change: opacity, transform;
}

.title {
  margin-bottom: var(--spacing-s);
  align-self: center;
  font-size: var(--font-size-m);
  color: var(--color-secondary);
}

.line {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}

.button {
  padding: 1rem 1rem;
  background-color: var(--color-primary);
  border-radius: 2.5rem;
  font-family: var(--regular-font);
  font-size: 0.85rem;
  color: var(--color-neutral-2);
}

// .info {
//   position: absolute;
//   right: 1.5rem;
//   bottom: 1.5rem;
//   z-index: 2;
//   width: 2.5rem;
//   height: 2.5rem;
//   background-color: #1d1d1f;
//   border-radius: 50%;
//   color: var(--color-neutral-2);
// }

@keyframes Appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 10rem, 0);
  }
}
